.col-md-4.col1
	.logo.animated.fadeIn
		a(href='javascript:void(0);') HERO
			//img.img-fluid(src='assets/img/logo.svg')
	.menu
		ul
			li.animated.fadeInLeft.delay1
				a(href='#') Home
			li.animated.fadeInLeft.delay2
				a(href='#') Work
			li.animated.fadeInLeft.delay3
				a(href='#') About Us
			li.animated.fadeInLeft.delay4
				a(href='#') Blog
			li.animated.fadeInLeft.delay5
				a(href='#') Contact
	.social
		ul.nav
			li.nav-item.animated.fadeInLeft.delay-4s
				a.nav-link(href='#')
					span.fa.fa-facebook
			li.nav-item.animated.fadeInLeft.delay-3s
				a.nav-link(href='#')
					span.fa.fa-twitter
			li.nav-item.animated.fadeInLeft.delay-2s
				a.nav-link(href='#')
					span.fa.fa-instagram
			li.nav-item.animated.fadeInLeft.delay-1s
				a.nav-link(href='#')
					span.fa.fa-dribbble