.col-md-4.col3
	.burger
		a(href='#')
			span.fa.fa-align-right
	h3 Fashion and interior design are one and the same
	h4 The is one spectacle grander than the sea, that is the sky there is one spectacle grander than the sky, that is the interior of the soul.
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse illum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	.link
		a(href='#') read more about us
			span.fa.fa-caret-right
	h5 The principle of the design - the harmony, rythm and balance are all same with interior and fashino design.